* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f2f5f6;
}

.hero {
  min-height: 100vh;
  background-image: linear-gradient(rgba(7, 19, 24, 0.55), rgba(7, 19, 24, 0.55)), url("./images/mountain.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 0 16px;
}

.nav-container {
  width: min(960px, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 16px;
  border-radius: 999px;
  background: rgba(16, 33, 40, 0.5);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
}

.logo {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #f5fbff;
  text-decoration: none;
  font-weight: 600;
}

.hero-content {
  width: min(960px, 92vw);
  margin: 120px auto 0;
}

.title {
  margin: 0;
  color: #f5fbff;
  font-size: 40pt;
}

.subtitle {
  margin-top: 20px;
  max-width: 760px;
  color: rgb(192 197 200 / 95%);
}

.container {
  width: min(960px, 92vw);
  margin: 0 auto;
  padding: 60px 0;
  color: white;
}

.content-section {
  background: #1d392c;
  color: #bababa;
  text-align: center;
}

.content-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content-section p {
  line-height: 1.6;
  font-size: 1.2rem;
  color: #8f9299;
}

.cards-section {
  background: #102128;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  flex: 1 1 300px; 
  
  background: #3b4046;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.card h3 {
  color: #ddd;
  margin-top: 0;
}

.footer {
  background: #102128;
  color: #f5fbff;
  text-align: center;
}

.copyright {
  margin-top: 40px;
  font-size: 0.8rem;
  opacity: 0.6;
}